<div class="w-full h-screen flex justify-center items-center">
  <div
    class="w-full h-full max-w-[800px] max-h-[500px] bg-white flex rounded-lg"
  >
    <div class="flex flex-col gap-3 w-[250px] bg-slate-50 rounded-l-lg p-5">
      <app-title text="Lists"></app-title>
      <!-- <h2>{{ lists[2].title }}</h2> -->
      <div class="flex flex-col gap-2 flex-grow">
        <div
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          (click)="setActive(list._id)"
          class="text-lg text-teal-700 text-center py-1 rounded-md hover:bg-slate-300"
          [ngClass]="{ 'bg-teal-200': activeId === list._id }"
        >
          {{ list.title }}
        </div>
      </div>
      <button
        routerLink="/add-list"
        class="bg-teal-500 py-1 rounded-md font-semibold text-white/90 text-lg hover:bg-teal-300"
      >
        + New List
      </button>
    </div>
    <div class="flex flex-col flex-grow gap-3 p-5">
      <app-title text="Tasks"></app-title>
      <div class="flex flex-col gap-2 flex-grow">
        <div
          *ngFor="let task of tasks"
          class="text-lg text-teal-700 text-center bg-slate-50 py-1 rounded-md hover:bg-slate-300"
        >
          {{ task.title }}
        </div>
      </div>
    </div>
  </div>
</div>
